body {
    margin: 0;
    background-color: rgb(145, 229, 255);
}

#bar {
    list-style: none;
    overflow: hidden;
    background-color: #11A0FF;
    height: max(auto, 20px);
}

#bar>* {
    display: inline-block;
    vertical-align: middle;
}

#bar img {
    float: left;
    height: max(5vh, 20px);
}

#bar button {
    float: right;
    border: none;
    color: aqua;
    background-color: #11A0FF;
    height: max(5vh, 20px);
    font-size: max(2.5vh, 10px);
    padding-left: 1vh;
    padding-right: 1vh;
}

#bar #title {
    float: left;
    color: aqua;
    font-family: audiowide;
    font-size: max(3vh, 16px);
    margin: 0;
}

#bar button:hover,
#bar button:focus {
    outline: none;
    background-color: aqua;
    color: #11A0FF;
}

#bar #title:hover,
#bar #title:focus {
    outline: none;
    background-color: inherit;
    color: aqua;
    cursor: pointer;
}

#content {
    background-color: aqua;
}

body iframe {
    width: 100%;
    height: calc(100% - max(5vh, 21px));
}