/*
tabControl
tabHeaders
tabHeader
tabContentds
tabContent
*/
:root {
	--tab-width: 15%
}

.tabControl {
	display: flex;
	height: 100%;
}

.tabHeaders {
	--max-tab-width: max(var(--tab-width), 100px);
	width: var(--max-tab-width);
	overflow-y: auto;
}

.tabHeaders {
	padding: 0;
	padding-top: 1px;
	margin: 0;
}

.tabHeader {
	height: max(5%, 50px);
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	margin: 0;
}

.tabOpen * {
	font-size:medium;
}

.tabOpen {
	width: max(80%);
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align:top;
	border: 1px solid gray;
	border-right: none;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}


.tabHeader:hover button{
	filter: brightness(90%);
}

.selected button{
	filter: brightness(80%);
}
.selected:hover button{
	filter: brightness(70%);
}

.tabClose {
	width: 20%;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align:middle;
	text-align: center;
	border: 1px solid gray;
	border-left: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.tabClose:hover:before {
	border-left: none;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	--rad: 10px;
    content: '';
    width: calc(var(--rad) * 2);
    height: calc(var(--rad) * 2);
    background: rgba(0, 0, 0, 10%);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
	top: calc(50% - var(--rad));
	left: calc(50% - var(--rad));
}

.tabContents {
	height: 100%;
	width: calc(100% - var(--tab-width))
}

.tabContent {
	display: none
}